body {
        margin: 0;
        height: 100vh; /* 100% of the viewport height */
        background-image: url('404NotFoundSized.png');
        background-size: cover;          /* cover the entire screen */
        background-position: center;     /* center the image */
        background-repeat: no-repeat;    /* no tiling */
      }
